
.appHeader{
  background-color: #232735;
  color: #fff;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
  &-title{
    width: 20%;
    padding: 0 16px;
    font-size: 14px;
  }
  &-search{
    width: 72%;
    padding-left: 100px;
    display: flex;
    background-color: #464e6a;
    border-radius: 4px;
    align-items: center;
    &-img{
      width: 18px;
      height: 100%;
      margin-right: 5px;
    }
    &-input{
      width: 100%;
      height: 28px;
      padding: 3px 7px;
      border-radius: 4px;
      background-color: #464e6a;
      border: none;
      outline: none;
      color: #fff;
      &::placeholder{
        color: #fff;
        opacity: .85;
      }
    }
  }
}